<!DOCTYPE html>
<html lang="zh_CN">
  <head>
    <meta charset="utf-8">
    <title>WebPHPUnit - 帮助</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <link href="./css/bootstrap.css" rel="stylesheet">
    <style>
      body { padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */}
    </style>
    <link href="./css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="./">WebPHPUnit</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="./">首页</a></li>
              <li><a href="./archives">归档</a></li>
              <li class='active'><a href="./help">帮助</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

        <div class='row'>
          <div class='span4'>
            <h2>关于</h2>
            <p>
                WebPHPUnit 是一套在线的可视化PHP单元测试系统，其基于VisualPHPUnit二次改进而成，去除了数据库统计功能，同时修改整个库为phar格式，无需pear支持，自带phpUnit.phar。达到依赖性最小。当然您的PHP版本必须在5.3.0以上。
            </p>
            <p>
                感谢以下的开源产品:
            </p>
            <ul>
                <li>
                  <a href="https://github.com/NSinopoli/VisualPHPUnit">VisualPHPUnit</a>
                </li>
                <li>
                    <a href='https://github.com/twitter/bootstrap/'>Twitter Bootstrap</a>
                </li>
                <li>
                    <a href='http://git.io/nx'>NX</a>
                </li>
            </ul>
            <p>
                当前的稳定版本是0.0.1，更新于 2013-10-14 14:23:08 。
            </p>
          </div>
          <div class='span4'>
              <h2>贡献说明</h2>
              <p>
                额，独裁了.
              </p>
          </div>
          <div class='span4'>
              <h2>支持</h2>
              <p>
                 暂时没有支持.
              </p>
          </div>
        </div>
    </div>

  </body>
</html>
